<div class="content-modal">
        <h1 class="title">Autenticación</h1>
        <form>
            <div class="content-form">
                <mat-form-field class="full-width input-login">
                    <input type="email" matInput placeholder="Email" [(ngModel)]="user.email" name="email">
                </mat-form-field>
                <mat-form-field class="full-width input-login">
                    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="user.password" name="password">
                </mat-form-field>
                <div class="botonera">
                    <button class="button ok" mat-stroked-button color="primary" (click)="login()">Ingresar</button>
                </div>            
            </div>
        </form>
    </div>