<div class="content-commentaries">
    <h1 class="title">Empresas</h1>
    <div class="commentary" *ngFor="let company of companies">
        <div class="info" (click)="showCompany(company)">
            <div class="content-image">
                <img *ngIf="!company.imageUrl" [src]="imageUrl" alt="" class="user-image">
                <img *ngIf="company.imageUrl" [src]="company.imageUrl" alt="" class="user-image">
            </div>
            <div>
                <span class="product">{{ company.name }}</span>
            </div>
        </div>
        <div class="delete" (click)="delete(company)"><i class="material-icons">close</i></div>
    </div>
    <button class="add" mat-fab (click)="newCompany()"><i class="material-icons">add</i></button>
</div>